
  .viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.button {
  background-color: #4CAF50; 
  border: none;
  color:Green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {background-color: #4CAF50;} 
.button1 {font-size: 16px;}
.button1 {border-radius: 8px;}
.button1 {
  background-color: green;
  color: green;
  border: 2px solid #4CAF50;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; 
  color: green;
}