
  .viewport-header {
    position: relative;
    margin-top: 25vh;
    margin-bottom: -5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.btns {

  font-family: Arial;
 
}

#main_viewer{
  margin-bottom: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




button {
  display: inline-block;
  border-radius: 12px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button{
  transition-duration: 0.4s;
}